# general modules
Django>=4.2,<4.3
python-decouple==3.8
pillow==10.2.0
djangorestframework

# third party modules 
markdown
django-filter
drf-yasg[validation]
djangorestframework-simplejwt


# deployment modules

# email third party modules
django-mail-templated

# reformat and test
black 
flake8
pytest
pytest-django
Faker


# background process and cache
celery
redis
django-redis
