{% extends "base.html"%}

{% block content %}
                                        <form method="post" action="{% url 'todo:task-delete' pk=task.id %}">
                                            {% csrf_token %}
                                            <p class="delete-page">Are you sure you want to delete "{{ task }}"?</p>
                                            <div>
                                                <button type="submit" class="btn btn-primary btn-edit" value="content">Delete</button>
                                            </div>
                                        </form>

                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endblock %}
<form method="post">{% csrf_token %}
     
 
 
 
    <p>Are you sure you want to delete "{{ task }}"?</p>
     
     
     
     
        <input type="submit" value="Confirm">
    </form>
