{% extends "base.html"%}

{% block content %}
<section class="vh-100">
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col">
                <div class="card" id="list1" style="border-radius: .75rem; background-color: #eff1f2;">
                    <div class="card-body py-4 px-4 px-md-5">

                        <p class="h1 text-center mt-3 mb-4 pb-3 text-primary">
                            <i class="fa fa-check-square me-1"></i>
                            <u>My Todo-s</u>
                        </p>

                        <div class="pb-2">
                            <div class="card">
                                <div class="card-body">
                                    <div class="d-flex flex-row align-items-center">
                                        <form method="post" action="{% url 'todo:task-delete' pk=task.id %}">
                                            {% csrf_token %}
                                            <p class="delete-page">Are you sure you want to delete "{{ task }}"?</p>
                                            <div>
                                                <button type="submit" class="btn btn-primary btn-edit" value="content">Delete</button>
                                            </div>
                                        </form>

                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endblock %}
<form method="post">{% csrf_token %}
     
 
 
 
    <p>Are you sure you want to delete "{{ task }}"?</p>
     
     
     
     
        <input type="submit" value="Confirm">
    </form>
